@use '@energinet-datahub/watt';

label {
  text-transform: none; // Override .watt-label, which uppercases labels
}

body strong {
  color: inherit; // Override Watt styles
}

a,
[routerLink] {
  text-decoration: underline; // This overrides WATT styles (which removes the underline on a tags)
}
