.eo-text-center {
  text-align: center;
}

.eo-text-promotional {
  text-transform: uppercase;
}

.eo-text-primary {
  color: var(--watt-color-primary);
}

.eo-text-primary-contrast {
  color: var(--watt-color-primary-contrast);
}
