{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },

  "ApiClientSettings": {
    "MeteringPointBaseUrl": "https://localhost:5001",
    "ChargesBaseUrl": "https://localhost:5001",
    "WholesaleBaseUrl": "https://localhost:7133",
    "MarketParticipantBaseUrl": "https://localhost:5001",
    "MessageArchiveBaseUrl": "https://localhost:5001"
    "ESettExchangeBaseUrl": "https://localhost:5001"
    "EdiB2CWebApiBaseUrl": "https://localhost:5091"
  },

  "B2C_TENANT_ID" : "B2C_TENANT_ID",
  "BACKEND_BFF_APP_ID": "BACKEND_BFF_APP_ID",
  "EXTERNAL_OPEN_ID_URL": "EXTERNAL_OPEN_ID_URL",
  "INTERNAL_OPEN_ID_URL": "INTERNAL_OPEN_ID_URL"
}
