{
  "ApiClientSettings": {
    "MeteringPointBaseUrl": "<base-url>",
    "ChargesBaseUrl": "<base-url>",
    "MessageArchiveBaseUrl": "<base-url>",
    "MarketParticipantBaseUrl": "<base-url>",
    "WholesaleBaseUrl": "<base-url>"
  },
  "FRONTEND_SERVICE_APP_ID": "<app-id>",
  "FRONTEND_OPEN_ID_URL": "<open-id-configuration>"
}