{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "ApiClientSettings": {
    "MeteringPointBaseUrl": "https://localhost:5001",
    "EdiB2CWebApiBaseUrl": "https://localhost:5091",
    "MarketParticipantBaseUrl": "https://localhost:5001",
    "WholesaleBaseUrl": "https://localhost:7133",
    "WholesaleOrchestrationsBaseUrl": "https://localhost:7133",
    "ESettExchangeBaseUrl": "https://localhost:5001",
    "ImbalancePricesBaseUrl": "https://localhost:5091",
    "WholesaleOrchestrationSettlementReportsBaseUrl": "https://localhost:5091",
    "WholesaleOrchestrationSettlementReportsLightBaseUrl": "https://localhost:5091",
    "SettlementReportsAPIBaseUrl": "https://localhost:5091",
    "NotificationsBaseUrl": "https://localhost:5091",
  },
  "APPLICATIONINSIGHTS_CONNECTION_STRING": "APPLICATIONINSIGHTS_CONNECTION_STRING",
  "UserAuthentication:MitIdExternalMetadataAddress": "https://<url>",
  "UserAuthentication:BackendBffAppId": "00000000-0000-0000-0000-000000000000",
  "UserAuthentication:ExternalMetadataAddress": "https://<url>",
  "UserAuthentication:InternalMetadataAddress": "https://<url>"
}
