{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "ApiClientSettings": {
    "MeteringPointBaseUrl": "https://localhost:5001",
    "ChargesBaseUrl": "https://localhost:5001",
    "WholesaleBaseUrl": "https://localhost:7133",
    "MarketParticipantBaseUrl": "https://localhost:5001",
    "MessageArchiveBaseUrl": "https://localhost:5001"
  },
  "B2C_TENANT_ID" : "B2C_TENANT_ID",
  "FRONTEND_SERVICE_APP_ID" : "FRONTEND_SERVICE_APP_ID"
}
