
import { render, screen } from '@testing-library/angular';

import { Watt<%= className %>Component } from './watt-<%= fileName %>.component';

describe(Watt<%= className %>Component, () => {
  it('should render', async () => {
    await render(Watt<%= className %>Component);
    expect(screen.getByText('Watt<%= className %>Component works!')).toBeInTheDocument();
  });
});
