
import {
  ChangeDetectionStrategy,
  Component,
  ViewEncapsulation,
} from '@angular/core';

@Component({
  changeDetection: ChangeDetectionStrategy.OnPush,
  encapsulation: ViewEncapsulation.None,
  standalone: true,
  selector: 'watt-<%= fileName %>',
  styles: [`
    watt-<%= fileName %> {
      display: block;
    }
  `],
  template: `
    <p>Watt<%= className %>Component works!</p>
  `,
})
export class Watt<%= className %>Component {}
