# Copyright 2020 Energinet DataHub A/S
#
# Licensed under the Apache License, Version 2.0 (the "License2");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Design System Frontend
name: Watt Package

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
  is-main-branch: ${{ github.ref == 'refs/heads/main' }}
  is-pull-request: ${{ github.event_name == 'pull_request' }}

  # keep in sync with "engines.bun" and "volta.bun" in "package.json"
  BUN_VERSION: 1.1.13

  # Nx Cloud
  NX_BRANCH: ${{ github.event.number }}
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  NX_RUN_GROUP: ${{ github.run_id }}

on:
  push:
    branches:
      - main
    paths:
      - libs/watt/**
      - package.json
  pull_request:
    branches:
      - main
    paths:
      - libs/watt/**
      - package.json
  workflow_dispatch: {}

jobs:

  pack:
    name: Publish affected packages
    runs-on: ubuntu-latest

    steps:
      # needed for Nx affected command
      - name: "PR: Check out source code with current branch Git history"
        if: ${{ env.is-pull-request == 'true' }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      # needed for Nx affected command
      - name: "PR: Fetch base branch Git history"
        if: ${{ env.is-pull-request == 'true' }}
        run: git fetch --no-tags origin $BASE_BRANCH

      - name: "Merge: Check out source code"
        if: ${{ env.is-pull-request == 'false' }}
        uses: actions/checkout@v4

      - name: Bun setup
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: ${{ env.BUN_VERSION }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: "PR: Build, bump and publish affected packages"
        if: ${{ env.is-pull-request == 'true' }}
        run: bun nx affected -t build-package bump-and-publish --base=origin/$BASE_BRANCH
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Merge: Build, bump and publish affected packages"
        if: ${{ env.is-pull-request == 'false' }}
        run: bun nx affected -t build-package bump-and-publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
